.tile {
  width: 200px;
  height: 300px;
  background-color: rgb(230, 230, 230);
  margin: 15px;
  text-align: center;
  position: relative;
  @media screen and (max-width: 800px) {
    width: 160px;
    height: 250px;
  }
}

.tileSelected {
  background-color: rgb(207, 236, 255);
}

.tileSelect {
  position: absolute;
  top: 10px;
  left: 10px;
}

.tileName {
  margin-top: 40px;
  font-weight: 700;
}

.tilePhoto {
  margin-top: 20px;
  svg {
    width: 100px;
    height: 100px;
  }
  @media screen and (max-width: 800px) {
    svg {
      width: 60px;
      height: 60px;
    }
  }
}

.tileText {
  margin: 10px 0;
}
